.contact {
    
    h1 {
        text-align: center;
        margin-top: 130px;
        font-size: 30px;
        color: blue;
    }
    p {
        text-align: center;
        font-size: 18px;
        margin-bottom: 40px;
    }
    .contact__container {
        display: flex;
        justify-content: center;

        .contact__options {
            // margin-right: 50px;
        }
        .contact__option {
            margin: 0 0 10px 0;
            background-color: rgb(104, 133, 205);
            border-radius: 9px;
            padding: 15px;
            text-align: center;
            color: white;
            &:hover {
                cursor: pointer;
                background-color: blue;
            }
            .contact__option-icon {
                font-size: 1.7rem;
                margin-bottom: 10px;
            }
            h2 {
                text-align: center;
                font-size: 1.4rem;
            }
            h3 {
                font-size: 1rem;
                text-align: center;
            }
            .contact__option-link {
                text-align: center;
                a {
                    text-decoration: none;
                    color: rgb(23, 219, 206);
                    font-size: 0.9rem;
                }
            }
        }
        
    }


    
}

form {
    margin-left: 150px;
    // display: flex;
    // flex-direction: column;
    // gap: 1.2;
    .form__input {
        display: block;
        min-width: 400px ;
        padding-left: 5px;
        height: 40px;
        margin: 0 0 15px 0;
        outline: none;
        border-radius: 3px;
        border: 2px solid #888;
        background-color: transparent;
    }
    textarea {
        outline: none;
        min-width: 400px;
        padding: 5px 5px 35px 5px;
        border-radius: 3px;
        border: 2px solid #888;
        background-color: transparent;
    }
    .button {
        display: block;
        outline: none;
        border: none;
        font-size: 14px;
        padding: 10px 20px;
        color: white;
        border-radius: 5px;
        background-color: rgb(23, 219, 206);
        margin-top: 30px;

        &:hover {
            cursor: pointer;
            opacity: 0.8;
        }
    }
}